In [ ]:
import pandas as pd

In [ ]:
dados = pd.read_csv('Fifa/fifa.csv')

In [ ]:
dados

In [ ]:
dados['Total'] = dados['Acceleration'] + dados['Agility'] + dados['Reactions']  #Criando colunna Total de acordo com outras colunas
dados

In [10]:
dados = dados [['Name', 'Total']]
dados.sort_values('Total', ascending = False)

                 Name  Total
2           Neymar Jr  284.0
5           E. Hazard  279.0
0            L. Messi  277.0
26           M. Salah  276.0
50         D. Mertens  275.0
...               ...    ...
13279    P. Mazzocchi    NaN
13280       Y. Ammour    NaN
13281  Jwa Joon Hyeop    NaN
13282      O. Marrufo    NaN
13283     Han Pengfei    NaN

[18207 rows x 2 columns]

In [11]:
dados.to_csv('Dados1.csv' , index = False) #Salvando em CSV

In [16]:
dados.to_excel('Dados2.xlsx' , index = False) #Salvando em Excel

In [19]:
dados.to_csv('Dados3.txt' , index = False, sep = '\t' ) #Salvando em Texto